---
layout: default
---

<article class="post post-main">
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <time>{{ page.date | date: "%B %e, %Y" }}</time>
        </div>
    </header>
    
    <div class="entry">{{ content }}</div>
    
    <footer class="post-footer">
        <nav class="post-nav clearfix">
            <div class="prev">
                {% if page.previous.url %} 
                <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
                {% endif %}
            </div>
            <div class="next">
                {% if page.next.url %} 
                <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a> 
                {% endif %} 
            </div>
        </nav>
    </footer>
</article>
